/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

h1 {
    color: #000000;
    margin-top: 200px;
    margin-bottom: 40px;
    font-size: 40px;
}

.guess-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.row {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.box {
    width: 55px;
    height: 55px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s ;
}

.box:hover {
    background-color: #e9ecef;
    transform: scale(1.05);
}


/* Keyboard styles */
.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.keyboard-row {
    display: flex;
    gap: 5px;
}

.key {
    background-color: #d3d6da;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    /* transition: background-color 0.3s, transform 0.3s; */
}

.key:hover {
    background-color: #e4e7eb;
    /* transform: scale(1.05); */
}

.action-key {
    padding: 10px 20px;
    font-size: 1rem;
}

.green {
    background-color: #6aaa64;
    color: white;
}

.yellow {
    background-color: #c9b458;
    color: white;
}

.red {
    background-color: #787c7e;
    color: white;
}

/* Styles for both message boxes */
.message-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6aaa64; /* Default green for winning */
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
/* Hidden state */
.hidden {
display: none;
}

/* Loss Box Specific Styles */
#loss-box {
background-color: #787c7e; /* Neutral gray for losing */
}
